[Unit]
Description=filebrowser
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=filebrowser
Image=docker.io/hurlenko/filebrowser:latest

Network=t3_proxy

# app data
Volume=/mnt/cache/appdata/filebrowser:/config

Volume=/mnt/cache/service:/data/service
Volume=/mnt/cache/appdata:/data/appdata
Volume=/mnt/disks/media:/data/media
Volume=/mnt/disks/downloads:/data/downloads

Label="traefik.enable=true"
## HTTP Routers
Label="traefik.http.routers.filebrowser-rtr.entrypoints=websecure"
Label="traefik.http.routers.filebrowser-rtr.rule=Host(`files.$DOMAINNAME`)"
## Middlewares
Label="traefik.http.routers.filebrowser-rtr.middlewares=chain-authelia@file"
## HTTP Services
Label="traefik.http.routers.filebrowser-rtr.service=filebrowser-svc"
Label="traefik.http.services.filebrowser-svc.loadbalancer.server.port=8080"

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
