[Unit]
Description=duplicati
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=duplicati
Image=lscr.io/linuxserver/duplicati:latest

Network=podman

Volume=/mnt/cache/appdata/duplicati/config:/config

Volume=/mnt/cache/appdata:/mnt/cache/appdata:ro
Volume=/mnt/disks/media:/mnt/disks/media:ro
Volume=/home/philipp:/home/philipp:ro

PublishPort=8200:8200

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
