[Unit]
Description=crowdsec
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=crowdsec
Image=docker.io/crowdsecurity/crowdsec
EnvironmentFile=./crowdsec.env

Volume=$APPDATA_DIR/crowdsec/data:/var/lib/crowdsec/data
Volume=$APPDATA_DIR/crowdsec/config:/etc/crowdsec

Volume=/var/log:/var/log:ro
Volume=$SERVICE_DIR/logs/:/logs/:ro

Network=t3_proxy

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
