[Unit]
Description=Radarr Movie Management
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=radarr
Image=lscr.io/linuxserver/radarr:latest
EnvironmentFile=./radarr.env

Volume=/mnt/cache/appdata/radarr:/config
Volume=/mnt/disks/media/metadata/radarr:/config/MediaCover
Volume=/mnt/disks/media/movies:/movies
Volume=/mnt/disks/downloads:/downloads

Network=t3_proxy

Label="traefik.enable=true"
## HTTP Routers Auth Bypass
Label="traefik.http.routers.radarr-rtr-bypass.entrypoints=websecure"
Label="traefik.http.routers.radarr-rtr-bypass.rule=Host(`radarr.akatosh.dev`) && (Header(`X-Api-Key`, `$RADARR_API_KEY`) || Query(`apikey`, `$RADARR_API_KEY`))"
Label="traefik.http.routers.radarr-rtr-bypass.priority=100"
## HTTP Routers
Label="traefik.http.routers.radarr-rtr.entrypoints=websecure"
Label="traefik.http.routers.radarr-rtr.rule=Host(`radarr.akatosh.dev`)"
Label="traefik.http.routers.radarr-rtr.priority=99"
## Middlewares
Label="traefik.http.routers.radarr-rtr-bypass.middlewares=chain-no-auth@file"
Label="traefik.http.routers.radarr-rtr.middlewares=chain-authelia@file"
## HTTP Servicesnoauth
Label="traefik.http.routers.radarr-rtr.service=radarr-svc"
Label="traefik.http.routers.radarr-rtr-bypass.service=radarr-svc"
Label="traefik.http.services.radarr-svc.loadbalancer.server.port=7878"

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
