[Unit]
Description=MariaDB Vikunja
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=mariadb-vikunja
Image=docker.io/mariadb:10
EnvironmentFile=mariadb-vikunja.env

Exec=--character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

Network=t3_proxy

Volume=$APPDATA_DIR/mariadb-vikunja:/var/lib/mysql

HealthCmd="CMD-SHELL mysqladmin ping -h localhost -u $$MYSQL_USER --password=$$MYSQL_PASSWORD"
HealthInterval=2s
HealthStartPeriod=30s

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
