[Unit]
Description=Invidious
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=invidious
Image=quay.io/invidious/invidious:latest

Network=container:gluetun

Volume=$APPDATA_DIR/invidious/config.yml:/invidious/config/config.yml

HealthCmd="wget -nv --tries=1 --spider http://127.0.0.1:3000/api/v1/trending || exit 1"
HealthInterval=3s
HealthStartPeriod=30s

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
