[Unit]
Description=ollama
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=ollama
Image=docker.io/ollama/ollama:latest
EnvironmentFile=ollama.env

Network=t3_proxy

Volume=$APPDATA_DIR/ollama:/root/.ollama

AddDevice=nvidia.com/gpu=all

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
