[Unit]
Description=Adguardhome
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=adguardhome
Image=docker.io/adguard/adguardhome

Network=macvlan0
IP=192.168.2.150

PublishPort=53:53/udp
PublishPort=67:67/udp
PublishPort=68:68/tcp
PublishPort=68:68/udp
PublishPort=80:80/tcp
PublishPort=443:443/tcp
PublishPort=853:853/tcp
PublishPort=3000:3000/tcp

Volume=/mnt/cache/appdata/adguardhome/work:/opt/adguardhome/work
Volume=/mnt/cache/appdata/adguardhome/conf:/opt/adguardhome/conf

NoNewPrivileges=true

AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
