[Unit]
Description=Adguardhome
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=adguardhome
Image=docker.io/adguard/adguardhome

Network=macvlan0
IP=192.168.2.150

Volume=/mnt/cache/appdata/adguardhome/work:/opt/adguardhome/work
Volume=/mnt/cache/appdata/adguardhome/conf:/opt/adguardhome/conf

NoNewPrivileges=true

AutoUpdate=registry

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
