[Unit]
Description=Postgres Paperless
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=postgres-paperless
Image=docker.io/postgres:15
EnvironmentFile=postgres-paperless.env

Network=t3_proxy

Volume=/mnt/cache/appdata/postgres_paperless:/var/lib/postgresql/data

Secret=postgres_password,target=/run/secrets/postgres_password

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
