[Unit]
Description=SABnzbd
Wants=network-online.target
After=network-online.target gluetun.service

[Container]
ContainerName=sabnzbd
Image=docker.io/linuxserver/sabnzbd:latest
EnvironmentFile=sabnzbd.env

Network=container:gluetun

Volume=/mnt/cache/appdata/sabnzbd:/config
Volume=/mnt/disks/downloads/usenet/:/downloads/usenet

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
