[Unit]
Description=SABnzbd
Wants=network-online.target
After=network-online.target 

[Container]
ContainerName=sabnzbd
Image=docker.io/linuxserver/sabnzbd:latest
EnvironmentFile=sabnzbd.env

NetworkAlias=gluetun

Volume=/mnt/cache/appdata/sabnzbd:/config
Volume=/mnt/disks/downloads/usenet/:/downloads/usenet

NoNewPrivileges=true

AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
