# macvlan0.network
[Network]
DisableDNS=true
Driver=macvlan
Gateway=192.168.2.1
IPAMDriver=host-local
PodmanArgs=--interface-name enp6s0
Subnet=192.168.2.0/24