[Unit]
Description=traefik-bouncer
Wants=network-online.target
After=network-online.target crowdsec.service

[Container]
ContainerName=traefik-bouncer
Image=docker.io/fbonalair/traefik-crowdsec-bouncer
EnvironmentFile=./traefik-bouncer.env

Network=t3_proxy

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
