[Unit]
Description=homeassistant
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=homeassistant
Image=docker.io/homeassistant/home-assistant:latest
EnvironmentFile=./homeassistant.env

Volume=/mnt/cache/appdata/homeassistant:/config

Network=host

AddCapability=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_SYS_ADMIN CAP_NET_RAW

PublishPort=8123:8123
PublishPort=1400:1400
PublishPort=1443:1443
PublishPort=1900:1900
PublishPort=5353:5353

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
