VIKUNJA_SERVICE_PUBLICURL=
VIKUNJA_DATABASE_HOST=mariadb-vikunja
VIKUNJA_DATABASE_PASSWORD=
VIKUNJA_DATABASE_TYPE=mysql
VIKUNJA_DATABASE_USER=vikunja
VIKUNJA_DATABASE_DATABASE=vikunja
VIKUNJA_SERVICE_JWTSECRET=