[Unit]
Description=Vikunja 
Wants=network-online.target
After=network-online.target mariadb-vikunja.service

[Container]
ContainerName=vikunja
Image=docker.io/vikunja/vikunja:latest
EnvironmentFile=vikunja.env

Volume=$APPDATA_DIR/vikunja:/app/vikunja/files

Network=t3_proxy

Label="traefik.enable=true"
## HTTP Routers
Label="traefik.http.routers.vikunja-rtr.entrypoints=websecure"
Label="traefik.http.routers.vikunja-rtr.rule=Host(`todo.$DOMAINNAME`)"
## Middlewares
Label="traefik.http.routers.vikunja-rtr.middlewares=chain-authelia@file"
## HTTP Services
Label="traefik.http.routers.vikunja-rtr.service=vikunja-svc"
Label="traefik.http.services.vikunja-svc.loadbalancer.server.port=3456"

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
