[Unit]
Description=code
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=code
Image=lscr.io/linuxserver/code-server:latest
EnvironmentFile=code.env

Volume=/mnt/cache/appdata/code_server:/config
Volume=/mnt/cache/appdata/:/config/workspace/appdata
Volume=/mnt/cache/service/:/config/workspace/service
Volume=/home/philipp/nixos-config:/config/workspace/nixos-config
Volume=/home/philipp/quadlets:/config/workspace/quadlets

Network=t3_proxy

Label="traefik.enable=true"
## HTTP Routers
Label="traefik.http.routers.code-rtr.entrypoints=websecure"
Label="traefik.http.routers.code-rtr.rule=Host(`code.$DOMAINNAME`)"
## Middlewares
Label="traefik.http.routers.code-rtr.middlewares=chain-authelia@file"
## HTTP Servicesnoauth
Label="traefik.http.routers.code-rtr.service=code-svc"
Label="traefik.http.services.code-svc.loadbalancer.server.port=8443"

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
