[Unit]
Description=Bazarr Subtitle Manager
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=bazarr
Image=lscr.io/linuxserver/bazarr:latest
EnvironmentFile=bazarr.env

Network=t3_proxy

Volume=$APPDATA_DIR/bazarr:/config
Volume=$MEDIA_DIR/movies:/movies
Volume=$MEDIA_DIR/tv:/tv
Volume=$MEDIA_DIR/anime:/anime
Volume=$MEDIA_DIR/anime-movies:/anime-movies

NoNewPrivileges=true

Label="traefik.enable=true"
## HTTP Routers
Label="traefik.http.routers.bazarr-rtr.entrypoints=websecure"
Label="traefik.http.routers.bazarr-rtr.rule=Host(`bazarr.$DOMAINNAME`)"
## Middlewares
Label="traefik.http.routers.bazarr-rtr.middlewares=chain-authelia@file"
## HTTP Services
Label="traefik.http.routers.bazarr-rtr.service=bazarr-svc"
Label="traefik.http.services.bazarr-svc.loadbalancer.server.port=6767"

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
