[Unit]
Description=borgmatic Backup
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=borgmatic
Image=ghcr.io/borgmatic-collective/borgmatic
EnvironmentFile=borgmatic.env

Network=t3_proxy

Volume=$APPDATA_DIR/borgmatic/.state/borgmatic:/root/.local/state/borgmatic
Volume=$APPDATA_DIR/borgmatic/.cache/borg:/root/.cache/borg
Volume=$APPDATA_DIR/borgmatic/.ssh:/root/.ssh
Volume=$APPDATA_DIR/borgmatic/.config/borg:/root/.config/borg
Volume=$APPDATA_DIR/borgmatic/borgmatic.d:/etc/borgmatic.d/
Volume=$APPDATA_DIR/borgmatic/repository:/mnt/borg-repository

Volume=$APPDATA_DIR:$APPDATA_DIR:ro
Volume=$MEDIA_DIR:/mnt/disks/media:ro

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
