[Unit]
Description=borgmatic Backup
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=borgmatic
Image=ghcr.io/borgmatic-collective/borgmatic
EnvironmentFile=borgmatic.env

Network=t3_proxy

Volume=/mnt/cache/appdata/borgmatic/.state/borgmatic:/root/.local/state/borgmatic
Volume=/mnt/cache/appdata/borgmatic/.cache/borg:/root/.cache/borg
Volume=/mnt/cache/appdata/borgmatic/.ssh:/root/.ssh
Volume=/mnt/cache/appdata/borgmatic/.config/borg:/root/.config/borg
Volume=/mnt/cache/appdata/borgmatic/borgmatic.d:/etc/borgmatic.d/
Volume=/mnt/cache/appdata/borgmatic/repository:/mnt/borg-repository

Volume=/mnt/cache/appdata:/mnt/cache/appdata:ro
Volume=/mnt/disks/media:/mnt/disks/media:ro

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
