[Unit]
Description=Database caching for Nextcloud
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=redis-nextcloud
Image=docker.io/redis:latest

Network=t3_proxy

Volume=$APPDATA_DIR/redis_nextcloud:/data

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
