[Unit]
Description=calibre-web-downloader
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=calibre-web-downloader
Image=ghcr.io/calibrain/calibre-web-automated-book-downloader:latest
EnvironmentFile=calibre-web-downloader.env

Volume=$APPDATA_DIR/calibre_web/consume:/cwa-book-ingest
Volume=$APPDATA_DIR/calibre_web/config/app.db:/auth/app.db:ro

Network=container:gluetun

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
