# General
PAPERLESS_URL=
PAPERLESS_ALLOWED_HOSTS=
USERMAP_UID=
USERMAP_GID=
PAPERLESS_TIME_ZONE=
PAPERLESS_OCR_LANGUAGE=
PAPERLESS_CONSUMER_ENABLE_BARCODES=
PAPERLESS_CONSUMER_ENABLE_ASN_BARCODE=
PAPERLESS_CONSUMER_ASN_BARCODE_PREFIX=
PAPERLESS_WEBSERVER_WORKERS=
PAPERLESS_TASK_WORKERS=
# User
PAPERLESS_SECRET_KEY_FILE=
PAPERLESS_ADMIN_USER_FILE=
PAPERLESS_ADMIN_MAIL_FILE=
PAPERLESS_ADMIN_PASSWORD_FILE=
# Database
PAPERLESS_DBENGINE=
PAPERLESS_DBHOST=
PAPERLESS_DBNAME=
PAPERLESS_DBUSER=
PAPERLESS_DBPASS_FILE=
PAPERLESS_REDIS=
# Tika & Gotenberg
PAPERLESS_TIKA_ENABLED=
PAPERLESS_TIKA_GOTENBERG_ENDPOINT=
PAPERLESS_TIKA_ENDPOINT=