[Unit]
Description=Paperless Document Management System
Wants=network-online.target
After=network-online.target postgres-paperless.service redis-paperless.service gotenberg.service tika.service

[Container]
ContainerName=paperless
Image=docker.io/paperlessngx/paperless-ngx:latest
EnvironmentFile=paperless.env

Volume=$APPDATA_DIR/paperless/data:/usr/src/paperless/data
Volume=$APPDATA_DIR/paperless/media:/usr/src/paperless/media
Volume=$APPDATA_DIR/paperless/export:/usr/src/paperless/export
Volume=$APPDATA_DIR/paperless/consume:/usr/src/paperless/consume

Network=t3_proxy

PublishPort=8000:8000

Secret=postgres_password,target=/run/secrets/postgres_password
Secret=paperless_key,target=/run/secrets/paperless_key
Secret=paperless_password,target=/run/secrets/paperless_password
Secret=paperless_email,target=/run/secrets/paperless_email
Secret=paperless_user,target=/run/secrets/paperless_user

Label="traefik.enable=true"
## HTTP Routers
Label="traefik.http.routers.paperless-rtr.entrypoints=websecure"
Label="traefik.http.routers.paperless-rtr.rule=Host(`dms.$DOMAINNAME`)"
## Middlewares
Label="traefik.http.routers.paperless-rtr.middlewares=chain-authelia@file"
## HTTP Services
Label="traefik.http.routers.paperless-rtr.service=paperless-svc"
Label="traefik.http.services.paperless-svc.loadbalancer.server.port=8000"

HealthCmd="curl -fs -S --max-time 2 http://localhost:8000"

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
