DOMAINNAME=
# General
PAPERLESS_URL=
PAPERLESS_ALLOWED_HOSTS=
USERMAP_UID=1000
USERMAP_GID=100
PAPERLESS_TIME_ZONE=Europe/Berlin
PAPERLESS_OCR_LANGUAGE=deu+eng
PAPERLESS_CONSUMER_ENABLE_BARCODES=true
PAPERLESS_CONSUMER_ENABLE_ASN_BARCODE=true
PAPERLESS_CONSUMER_ASN_BARCODE_PREFIX=ASN
PAPERLESS_WEBSERVER_WORKERS=2
PAPERLESS_TASK_WORKERS=2
# User
PAPERLESS_SECRET_KEY_FILE=/run/secrets/paperless_key
PAPERLESS_ADMIN_USER_FILE=/run/secrets/paperless_user
PAPERLESS_ADMIN_MAIL_FILE=/run/secrets/paperless_email
PAPERLESS_ADMIN_PASSWORD_FILE=/run/secrets/paperless_password
# Database
PAPERLESS_DBENGINE=postgresql
PAPERLESS_DBHOST=postgres-paperless
PAPERLESS_DBNAME=
PAPERLESS_DBUSER=
PAPERLESS_DBPASS_FILE=/run/secrets/postgres_password
PAPERLESS_REDIS=redis://redis-paperless:6379
# Tika & Gotenberg
PAPERLESS_TIKA_ENABLED=true
PAPERLESS_TIKA_GOTENBERG_ENDPOINT==http://gotenberg:3000
PAPERLESS_TIKA_ENDPOINT=http://tika:9998