TZ=Europe/Berlin
PUID=1000
PGID=100
POSTGRES_DB=recipes
POSTGRES_PASSWORD=
POSTGRES_USER=recipes
POSTGRES_PORT=5432
POSTGRES_HOST=postgres-recipes
DB_ENGINE=django.db.backends.postgresql
SECRET_KEY=
DEBUG=0
ALLOWED_HOSTS=
