[Unit]
Description=Recipes
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=recipes
Image=docker.io/vabene1111/recipes:latest
EnvironmentFile=recipes.env

Volume=$APPDATA_DIR/recipes/mediafiles:/opt/recipes/mediafiles
Volume=$APPDATA_DIR/recipes/staticfiles:/opt/recipes/staticfiles

Network=t3_proxy

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

PublishPort=1447:8080

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
