[Unit]
Description=Sonarr Anime Tv Show Manager
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=sonarr-anime
Image=lscr.io/linuxserver/sonarr:latest
EnvironmentFile=./sonarr-anime.env

Volume=$APPDATA_DIR/sonarr-anime:/config
Volume=$MEDIA_DIR/metadata/sonarr-anime:/config/MediaCover
Volume=$MEDIA_DIR/anime:/anime
Volume=$DOWNLOAD_DIR:/downloads

Network=t3_proxy

Label="traefik.enable=true"
## HTTP Routers Auth Bypass
Label="traefik.http.routers.sonarr-anime-rtr-bypass.entrypoints=websecure"
Label="traefik.http.routers.sonarr-anime-rtr-bypass.rule=Host(`sonarr-anime.$DOMAINNAME`) && (Header(`X-Api-Key`, `$SONAR_ANIME_API_KEY`) || Query(`apikey`, `$SONAR_ANIME_API_KEY`))"
Label="traefik.http.routers.sonarr-anime-rtr-bypass.priority=100"
## HTTP Routers
Label="traefik.http.routers.sonarr-anime-rtr.entrypoints=websecure"
Label="traefik.http.routers.sonarr-anime-rtr.rule=Host(`sonarr-anime.$DOMAINNAME`)"
Label="traefik.http.routers.sonarr-anime-rtr.priority=99"
## Middlewares
Label="traefik.http.routers.sonarr-anime-rtr-bypass.middlewares=chain-no-auth@file"
Label="traefik.http.routers.sonarr-anime-rtr.middlewares=chain-authelia@file"
## HTTP Services
Label="traefik.http.routers.sonarr-anime-rtr.service=sonarr-anime-svc"
Label="traefik.http.routers.sonarr-anime-rtr-bypass.service=sonarr-anime-svc"
Label="traefik.http.services.sonarr-anime-svc.loadbalancer.server.port=8989"

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
