[Unit]
Description=super-productivity-webdav
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=super-productivity-webdav
Image=docker.io/hacdias/webdav:latest

Network=t3_proxy

Volume=/mnt/cache/appdata/super-productivity/webdav.yaml:/config.yml:ro
Volume=/mnt/cache/appdata/super-productivity/data:/data

Label="traefik.enable=true"
## HTTP Routers
Label="traefik.http.routers.super-productivity-sync-rtr.entrypoints=websecure"
Label="traefik.http.routers.super-productivity-sync-rtr.rule=Host(`tasks-sync.$DOMAINNAME`)"
## Middlewares
Label="traefik.http.routers.super-productivity-sync-rtr.middlewares=chain-no-auth@file"
## HTTP Services
Label="traefik.http.routers.super-productivity-sync-rtr.service=super-productivity-sync-svc"
Label="traefik.http.services.super-productivity-sync-svc.loadbalancer.server.port=6065"

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
