IMMICH_TRUSTED_PROXIES=10.0.0.0/8
DB_HOSTNAME=postgres-immich
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD_FILE=/run/secrets/postgres_password
DB_DATABASE_NAME=redis-immich
REDIS_HOSTNAME=redis
REDIS_PORT=6379