[Unit]
Description=meilisearch
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=meilisearch
Image=docker.io/getmeili/meilisearch:v1.11.1
EnvironmentFile=meilisearch.env

Network=t3_proxy

Volume=$APPDATA_DIR/meilisearch:/meili_data

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
