[Unit]
Description=Network UPS Tools UPS Daemon
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=nut-upsd
Image=docker.io/instantlinux/nut-upsd
EnvironmentFile=nut-upsd.env

Network=podman

PublishPort=3493:3493

# Give container access to USB devices
AddDevice=/dev/bus/usb 

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
