ACTUAL_SERVER_URL=http://actual:5006
ACTUAL_PASSWORD=
# This is the ID from Settings → Show advanced settings → Sync ID
ACTUAL_BUDGET_ID=
CLASSIFICATION_SCHEDULE_CRON="0 */4 * * *"
CLASSIFY_ON_STARTUP=true

# Whether to sync accounts before classification
SYNC_ACCOUNTS_BEFORE_CLASSIFY=true 

# Can be "openai", "anthropic", "google-generative-ai", "ollama" or "groq"
LLM_PROVIDER=ollama 

OLLAMA_MODEL=llama3.2
OLLAMA_BASE_URL=http://ollama:11434/api

NOT_GUESSED_TAG=#actual-ai-miss
GUESSED_TAG=#actual-ai