[Unit]
Description=Actual Budget
Wants=network-online.target
After=network-online.target actual.service

[Container]
ContainerName=actual
Image=docker.io/sakowicz/actual-ai:latest
EnvironmentFile=actual-ai.env

Network=t3_proxy

NoNewPrivileges=true

AutoUpdate=registry

Timezone=local

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
